@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <div id="roleMatrixPartial">
        @using (Ajax.BeginForm("GetUsers", "CodeTesting", new AjaxOptions { UpdateTargetId = "divCompanies", InsertionMode = InsertionMode.InsertAfter, OnFailure = "error" }))
        {
            <input type="text" name="Username" id="Username" /><input type="submit" value="Search" />
        }

    </div>
    <div class="pad10 bgColor-White h100px br1Grey ovrFlw-Y" id="divCompanies">

    </div>*@
<script>
    function test1() {
        //alert('');
        var a = "160000.23";
        //alert(a);
        var num1 = a.replace(/,/gi, ""); //remove commas
        var num223 = num1.split(/(?=(?:\d{3})+$)/).join(","); //split and insert comma
        //alert(num2);
        alert(num223);
        a = parseFloat(a);
        alert((a).toLocaleString());
        //loop thru each character and detect if ".," dot and comma are side by side.
    }
  
</script>

<input type="button" name="btn" id="btn" onclick="test1()"/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}