@model BCS.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container modal-content w600px bgColor-White pad0">
    <div class="modal-header fs18 fontBld bgColor-lb"><span class="glyphicon glyphicon-lock"></span> <span class="fs20">MANAGE YOU ACCOUNT SETTING</span></div>
    <div class="modal-body">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <div class="container bgColor-lv">
                <dl class="dl-horizontal">
                    <dt>Change Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
            {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                    <dt>Change User Name:</dt>
                    <dd>
                        Contact your administrator to change your "User Name"
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>