<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  
   <!--Config Section for Signatories of Head Office--> 
  <sectionGroup name="HeadOffice">
    <section name="AGING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="OPSlip" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="WaterReading" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="JBR" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GENERALBILLING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="COLLECTIONS" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="SUBSIDIARY" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GARBAGE" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 
   <!--Config Section for Signatories of Cavite Economic Zone--> 
  <sectionGroup name="CaviteEconomicZone">
    <section name="AGING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="OPSlip" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="WaterReading" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="JBR" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GENERALBILLING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="COLLECTIONS" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="SUBSIDIARY" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GARBAGE" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    
   <!--Config Section for Signatories of Bagiuo City Economic Zone--> 
  <sectionGroup name="BaguioCityEconomicZone">
    <section name="AGING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="OPSlip" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="WaterReading" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="JBR" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GENERALBILLING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="COLLECTIONS" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="SUBSIDIARY" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="GARBAGE" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 
   <!--Config Section for Signatories of Mactan Economic Zone--> 
  <sectionGroup name="MactanEconomicZone">
    <section name="AGING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="OPSlip" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="WaterReading" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="JBR" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GENERALBILLING" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="COLLECTIONS" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="SUBSIDIARY" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="GARBAGE" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
    
  </configSections>
  
   <!--Head Office Signatories--> 
   <HeadOffice>
     
      <!--AGING--> 
     <AGING>
       <!--Aging Receivables--> 
      <add key="notedByAR" value="Head Office" />
      <add key="notedByPositionAR" value="Head Office" />        
      <add key="certifiedByAR" value="Head Office" />
      <add key="certifiedByPositionAR" value="Head Office" />
      <add key="preparedByAR" value="Head Office" />
      <add key="preparedByPositionAR" value="Head Office" />
          
       <!--Aging By Month--> 
      <add key="notedByAM" value="Head Office" />
      <add key="notedByPositionAM" value="Head Office" />
      <add key="preparedByAM" value="Head Office" />
      <add key="preparedByPositionAM" value="Head Office" />

     
       <!--Aging Prior Years--> 
      <add key="notedByAY" value="Head Office" />
      <add key="notedByPositionAY" value="Head Office" />
      <add key="preparedByAY" value="Head Office" />
      <add key="preparedByPositionAY" value="Head Office" />
     
       <!--Aging Summary--> 
      <add key="notedByAS" value="Head Office" />
      <add key="notedByPositionAS" value="Head Office" />
      <add key="certifiedByAS" value="Head Office" />
      <add key="certifiedByPositionAS" value="Head Office" />
      <add key="preparedByAS" value="Head Office" />
      <add key="preparedByPositionAS" value="Head Office" />
     </AGING>
     
      <!--OPSlip Report--> 
     <OPSlip>
      <add key="preparedBy" value="Head Office" />    
     </OPSlip>

     <!--Water Reading Report-->
     <WaterReading>
       <add key="accountOfficer" value="Head Office" />
       <add key="enterpriseRep" value="Head Office" />
     </WaterReading>
     
     <!--Garbage Report-->
     <GARBAGE>
       <add key="preparedBy" value="Head Office" />
       <add key="prepPos" value="Head Office" />
       <add key="appPos" value="Head Office" />
     </GARBAGE>
  
      <!--JBR--> 
     <JBR>
        <!--JBR ALL--> 
      <add key="notedByAll" value="Head Office" />
      <add key="notedByPositionAll" value="Head Office" />
      <add key="preparedByAll" value="Head Office" />
      <add key="preparedByPositionAll" value="Head Office" />
          
        <!--JBR VAT--> 
      <add key="notedByVAT" value="Head Office" />
      <add key="notedByPositionVAT" value="Head Office" />
      <add key="preparedByVAT" value="Head Office" />
      <add key="preparedByPositionVAT" value="Head Office" />
     
       <!--JBR Water/Sewerage--> 
      <add key="notedByWS" value="Head Office" />
      <add key="notedByPositionWS" value="Head Office" />
      <add key="preparedByWS" value="Head Office" />
      <add key="preparedByPositionWS" value="Head Office" />       
     </JBR> 
  
      <!--GENERAL BILLING--> 
     <GENERALBILLING>
      <add key="receivedBy" value="*" />
      <add key="approvedBy" value="Head Office" />
      <add key="preparedBy" value="Head Office" />
      <add key="position" value="Head Office" />
      <add key="position2" value="Head Office" />
     </GENERALBILLING> 
     
      <!--COLLECTIONS--> 
     <COLLECTIONS>
      <add key="collectedBy" value="Head Office" />
      <add key="approvedBy" value="Head Office" />
      <add key="officeDest" value="Head Office" />
      <add key="officialDest" value="Head Office" />
      <add key="accntOff" value="Head Office" />
     </COLLECTIONS>

      <!--SUBSIDIARY LEDGERS--> 
     <SUBSIDIARY>
       <add key="ceoName" value="Head Office" />
       <add key="representative" value="Head Office" />
     </SUBSIDIARY>
  
  </HeadOffice>  
    
   <!--Cavite Economic Zone Signatories--> 
   <CaviteEconomicZone>
     
      <!--AGING--> 
     <AGING>
       <!--Aging Receivables--> 
      <add key="notedByAR" value="Cavite Economic Zone" />
      <add key="notedByPositionAR" value="Cavite Economic Zone" />        
      <add key="certifiedByAR" value="Cavite Economic Zone" />
      <add key="certifiedByPositionAR" value="Cavite Economic Zone" />
      <add key="preparedByAR" value="Cavite Economic Zone" />
      <add key="preparedByPositionAR" value="Cavite Economic Zone" />
          
       <!--Aging By Month--> 
      <add key="notedByAM" value="Cavite Economic Zone" />
      <add key="notedByPositionAM" value="Cavite Economic Zone" />
      <add key="preparedByAM" value="CaviteEconomicZone" />
      <add key="preparedByPositionAM" value="Cavite Economic Zone" />

     
       <!--Aging Prior Years--> 
      <add key="notedByAY" value="Cavite Economic Zone" />
      <add key="notedByPositionAY" value="Cavite Economic Zone" />
      <add key="preparedByAY" value="Cavite Economic Zone" />
      <add key="preparedByPositionAY" value="Cavite Economic Zone" />
       
       <!--Aging Summary--> 
      <add key="notedByAS" value="Cavite Economic Zone" />
      <add key="notedByPositionAS" value="Cavite Economic Zone" />
      <add key="certifiedByAS" value="Cavite Economic Zone" />
      <add key="certifiedByPositionAS" value="Cavite Economic Zone" />
      <add key="preparedByAS" value="Cavite Economic Zone" />
      <add key="preparedByPositionAS" value="Cavite Economic Zone" />
     </AGING>
         
      <!--OPSlip Report--> 
     <OPSlip>
      <add key="preparedBy" value="Cavite Economic Zone" />    
     </OPSlip>

     <!--Water Reading Report-->
     <WaterReading>
       <add key="accountOfficer" value="Cavite Economic Zone" />
       <add key="enterpriseRep" value="Cavite Economic Zone" />
     </WaterReading>
     
     <!--Garbage Report-->
     <GARBAGE>
       <add key="preparedBy" value="Cavite Economic Zone" />
       <add key="prepPos" value="Cavite Economic Zone" />
       <add key="appPos" value="Cavite Economic Zone" />
     </GARBAGE>

     <!--JBR--> 
     <JBR>
       <!--JBR ALL--> 
      <add key="notedByAll" value="Cavite Economic Zone" />
      <add key="notedByPositionAll" value="Cavite Economic Zone" />
      <add key="preparedByAll" value="Cavite Economic Zone" />
      <add key="preparedByPositionAll" value="Cavite Economic Zone" />
          
       <!--JBR VAT--> 
      <add key="notedByVAT" value="Cavite Economic Zone" />
      <add key="notedByPositionVAT" value="Cavite Economic Zone" />
      <add key="preparedByVAT" value="Cavite Economic Zone" />
      <add key="preparedByPositionVAT" value="Cavite Economic Zone" />
     
       <!--JBR Water/Sewerage--> 
      <add key="notedByWS" value="Cavite Economic Zone" />
      <add key="notedByPositionWS" value="Cavite Economic Zone" />
      <add key="preparedByWS" value="Cavite Economic Zone" />
      <add key="preparedByPositionWS" value="Cavite Economic Zone" />       
     </JBR>
     
      <!--GENERAL BILLING--> 
     <GENERALBILLING>
      <add key="receivedBy" value="*" />
      <add key="approvedBy" value="Cavite Economic Zone" />
      <add key="preparedBy" value="Cavite Economic Zone" />
      <add key="position" value="Cavite Economic Zone" />
      <add key="position2" value="Cavite Economic Zone" />
     </GENERALBILLING> 
     
      <!--COLLECTIONS--> 
     <COLLECTIONS>
      <add key="collectedBy" value="Cavite Economic Zone" />
      <add key="approvedBy" value="Cavite Economic Zone" />
      <add key="officeDest" value="Cavite Economic Zone" />
      <add key="officialDest" value="Cavite Economic Zone" />
      <add key="accntOff" value="Cavite Economic Zone" />
     </COLLECTIONS>

      <!--SUBSIDIARY LEDGERS--> 
     <SUBSIDIARY>
      <add key="ceoName" value="Cavite Economic Zone" />
      <add key="representative" value="Cavite Economic Zone" />
     </SUBSIDIARY>
  
  </CaviteEconomicZone>
  
   <!--Bagiuo City Economic Zone Signatories--> 
   <BaguioCityEconomicZone>
     
      <!--AGING--> 
     <AGING>
       <!--Aging Receivables--> 
      <add key="notedByAR" value="Bagiuo City Economic Zone" />
      <add key="notedByPositionAR" value="Bagiuo City Economic Zone" />        
      <add key="certifiedByAR" value="Bagiuo City Economic Zone" />
      <add key="certifiedByPositionAR" value="Bagiuo City Economic Zone" />
      <add key="preparedByAR" value="Bagiuo City Economic Zone" />
      <add key="preparedByPositionAR" value="Bagiuo City Economic Zone" />
          
       <!--Aging By Month--> 
      <add key="notedByAM" value="Bagiuo City Economic Zone" />
      <add key="notedByPositionAM" value="Bagiuo City Economic Zone" />
      <add key="preparedByAM" value="Bagiuo City Economic Zone" />
      <add key="preparedByPositionAM" value="Bagiuo City Economic Zone" />

     
       <!--Aging Prior Years--> 
      <add key="notedByAY" value="Bagiuo City Economic Zone" />
      <add key="notedByPositionAY" value="Bagiuo City Economic Zone" />
      <add key="preparedByAY" value="Bagiuo City Economic Zone" />
      <add key="preparedByPositionAY" value="Bagiuo City Economic Zone" />
     
       <!--Aging Summary--> 
      <add key="notedByAS" value="Bagiuo City Economic Zone" />
      <add key="notedByPositionAS" value="Bagiuo City Economic Zone" />
      <add key="certifiedByAS" value="Bagiuo City Economic Zone" />
      <add key="certifiedByPositionAS" value="Bagiuo City Economic Zone" />
      <add key="preparedByAS" value="Bagiuo City Economic Zone" />
      <add key="preparedByPositionAS" value="Bagiuo City Economic Zone" />
     </AGING>
     
      <!--OPSlip Report--> 
     <OPSlip>
      <add key="preparedBy" value="Bagiuo City Economic Zone" />    
     </OPSlip>

     <!--Water Reading Report-->
     <WaterReading>
       <add key="accountOfficer" value="Bagiuo City Economic Zone" />
       <add key="enterpriseRep" value="Bagiuo City Economic Zone" />
     </WaterReading>
     
     <!--Garbage Report-->
     <GARBAGE>
       <add key="preparedBy" value="Bagiuo City Economic Zone" />
       <add key="prepPos" value="Bagiuo City Economic Zone" />
       <add key="appPos" value="Bagiuo City Economic Zone" />
     </GARBAGE>
  
      <!--JBR--> 
     <JBR>
        <!--JBR ALL--> 
      <add key="notedByAll" value="Bagiuo City Economic Zone" />
      <add key="notedByPositionAll" value="Bagiuo City Economic Zone" />
      <add key="preparedByAll" value="Bagiuo City Economic Zone" />
      <add key="preparedByPositionAll" value="Bagiuo City Economic Zone" />
          
        <!--JBR VAT--> 
      <add key="notedByVAT" value="Bagiuo City Economic Zone" />
      <add key="notedByPositionVAT" value="Bagiuo City Economic Zone" />
      <add key="preparedByVAT" value="Bagiuo City Economic Zone" />
      <add key="preparedByPositionVAT" value="Bagiuo City Economic Zone" />
     
       <!--JBR Water/Sewerage--> 
      <add key="notedByWS" value="Bagiuo City Economic Zone" />
      <add key="notedByPositionWS" value="Bagiuo City Economic Zone" />
      <add key="preparedByWS" value="Bagiuo City Economic Zone" />
      <add key="preparedByPositionWS" value="Bagiuo City Economic Zone" />       
     </JBR> 
  
      <!--GENERAL BILLING--> 
     <GENERALBILLING>
      <add key="receivedBy" value="*" />
      <add key="approvedBy" value="Bagiuo City Economic Zone" />
      <add key="preparedBy" value="Bagiuo City Economic Zone" />
      <add key="position" value="Bagiuo City Economic Zone" />
      <add key="position2" value="Bagiuo City Economic Zone" />
     </GENERALBILLING> 
     
      <!--COLLECTIONS--> 
     <COLLECTIONS>
      <add key="collectedBy" value="Bagiuo City Economic Zone" />
      <add key="approvedBy" value="Bagiuo City Economic Zone" />
      <add key="officeDest" value="Bagiuo City Economic Zone" />
      <add key="officialDest" value="Bagiuo City Economic Zone" />
      <add key="accntOff" value="Bagiuo City Economic Zone" />
     </COLLECTIONS>

      <!--SUBSIDIARY LEDGERS--> 
     <SUBSIDIARY>
       <add key="ceoName" value="Bagiuo City Economic Zone" />
       <add key="representative" value="Bagiuo City Economic Zone" />
     </SUBSIDIARY>
  
  </BaguioCityEconomicZone>  
    
   <!--Mactan Economic Zone Signatories--> 
   <MactanEconomicZone>
     
      <!--AGING--> 
     <AGING>
       <!--Aging Receivables--> 
      <add key="notedByAR" value="Mactan Economic Zone" />
      <add key="notedByPositionAR" value="Mactan Economic Zone" />        
      <add key="certifiedByAR" value="Mactan Economic Zone" />
      <add key="certifiedByPositionAR" value="Mactan Economic Zone" />
      <add key="preparedByAR" value="Mactan Economic Zone" />
      <add key="preparedByPositionAR" value="Mactan Economic Zone" />
          
       <!--Aging By Month--> 
      <add key="notedByAM" value="Mactan Economic Zone" />
      <add key="notedByPositionAM" value="Mactan Economic Zone" />
      <add key="preparedByAM" value="Mactan Economic Zone" />
      <add key="preparedByPositionAM" value="Mactan Economic Zone" />

     
       <!--Aging Prior Years--> 
      <add key="notedByAY" value="Mactan Economic Zone" />
      <add key="notedByPositionAY" value="Mactan Economic Zone" />
      <add key="preparedByAY" value="Cavite Mactan Zone" />
      <add key="preparedByPositionAY" value="Mactan Economic Zone" />

     
       <!--Aging Summary--> 
      <add key="notedByAS" value="Mactan Economic Zone" />
      <add key="notedByPositionAS" value="Mactan Economic Zone" />
      <add key="certifiedByAS" value="Mactan Economic Zone" />
      <add key="certifiedByPositionAS" value="Mactan Economic Zone" />
      <add key="preparedByAS" value="Mactan Economic Zone" />
      <add key="preparedByPositionAS" value="Mactan Economic Zone" />
     </AGING>
         
      <!--OPSlip Report--> 
     <OPSlip>
      <add key="preparedBy" value="Mactan Economic Zone" />    
     </OPSlip>

     <!--Water Reading Report-->
     <WaterReading>
       <add key="accountOfficer" value="Mactan Economic Zone" />
       <add key="enterpriseRep" value="Mactan Economic Zone" />
     </WaterReading>
     
     <!--Garbage Report-->
     <GARBAGE>
       <add key="preparedBy" value="Mactan Economic Zone" />
       <add key="prepPos" value="Mactan Economic Zone" />
       <add key="appPos" value="Mactan Economic Zone" />
     </GARBAGE>
     
      <!--JBR--> 
     <JBR>
       <!--JBR ALL--> 
      <add key="notedByAll" value="Mactan Economic Zone" />
      <add key="notedByPositionAll" value="Mactan Economic Zone" />
      <add key="preparedByAll" value="Mactan Economic Zone" />
      <add key="preparedByPositionAll" value="Mactan Economic Zone" />
          
       <!--JBR VAT--> 
      <add key="notedByVAT" value="Mactan Economic Zone" />
      <add key="notedByPositionVAT" value="Mactan Economic Zone" />
      <add key="preparedByVAT" value="Mactan Economic Zone" />
      <add key="preparedByPositionVAT" value="Mactan Economic Zone" />
     
       <!--JBR Water/Sewerage--> 
      <add key="notedByWS" value="Mactan Economic Zone" />
      <add key="notedByPositionWS" value="Mactan Economic Zone" />
      <add key="preparedByWS" value="Mactan Economic Zone" />
      <add key="preparedByPositionWS" value="Mactan Economic Zone" />       
     </JBR>
     
      <!--GENERAL BILLING--> 
     <GENERALBILLING>
      <add key="receivedBy" value="*" />
      <add key="approvedBy" value="Mactan Economic Zone" />
      <add key="preparedBy" value="Mactan Economic Zone" />
      <add key="position" value="Mactan Economic Zone" />
      <add key="position2" value="Mactan Economic Zone" />
     </GENERALBILLING> 
     
      <!--COLLECTIONS--> 
     <COLLECTIONS>
      <add key="collectedBy" value="Mactan Economic Zone" />
      <add key="approvedBy" value="Mactan Economic Zone" />
      <add key="officeDest" value="Mactan Economic Zone" />
      <add key="officialDest" value="Mactan Economic Zone" />
      <add key="accntOff" value="Mactan Economic Zone" />
     </COLLECTIONS>

      <!--SUBSIDIARY LEDGERS--> 
     <SUBSIDIARY>
       <add key="ceoName" value="Mactan Economic Zone" />
       <add key="representative" value="Mactan Economic Zone" />
     </SUBSIDIARY>
  
  </MactanEconomicZone> 

  <connectionStrings>
    <!--<add name="BCS_Context" connectionString="Data Source=DEV8;User=sa;Password=123;Initial Catalog=BCS" providerName="System.Data.SqlClient" />-->
    <!--<add name="BCS_Context" connectionString="Data Source=DEV7-PC;User=sa;Password=Ch0c0lat3;Initial Catalog=BCS" providerName="System.Data.SqlClient" />-->
    <!--<add name="BCS_Context" connectionString="Data Source=DEV3-PC\DCIDEVSQL;Initial Catalog=BCS;User=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient" />-->
    <!--<add name="BCS_Context" connectionString="Data Source=DEV1-PC;User=sa;Password=123;Initial Catalog=DBCS" providerName="System.Data.SqlClient" />-->
	  <!--<add name="BCS_Context" connectionString="Data Source=DEV2-PC\DEV2PC;User=sa;Password=123;Initial Catalog=BCS" providerName="System.Data.SqlClient" />-->  
    <!--add name="BCS_Context" connectionString="Data Source=DEV4-PC\DCIDEVDB;Initial Catalog=BCS;User=sa;Password=colgate" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BCS_Context" connectionString="Data Source=52.221.56.10\WIN-J12BN4N97PE,1433;Initial Catalog=BCS;User=rs;Password=abcDEF123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BCS_Context" connectionString="Data Source=52.221.56.10\WIN-J12BN4N97PE,1433;Initial Catalog=BCS;User=rs;Password=abcDEF123" providerName="System.Data.SqlClient"/>-->
    <add name="BCS_Context" connectionString="Data Source=PRBALENAW10L;Initial Catalog=BCS;User=sa;Password=p@ssw0rd" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <appSettings>
    <!-- Required by Microsoft ReportViewer control -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx" />
    <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
    <add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" />
    <add key="MvcReportViewer.ShowErrorPage" value="False" />
    <add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS" />
    <add key="MvcReportViewer.Username" value="" />
    <add key="MvcReportViewer.Password" value="" />
    <add key="MvcReportViewer.EncryptParameters" value="True" />
    <add key="MvcReportViewer.IsAzureSSRS" value="false" />
    <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SqlLocalDataSourceProvider, MvcReportViewer" />
    <add key="SqlLocalDataSourceProvider.ConnectionString" value="Products" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="UserLockoutEnabledByDefault" value="true" />
    <add key="DefaultAccountLockoutTimeSpan" value="15" />
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />

    <!--Parameters for Marklogic-->
    <add key="MarklogicDomain" value="public" />
    <add key="MarklogicUsername" value="developer-ian" />
    <add key="MarklogicPassword" value="cpr123456" />
    <add key="MarklogicURL" value="" />
    <add key="MarklogicURI" value="http://localhost:8060/v1/documents?uri=/" />

    <!-- Parameter for Reports -->
    <add key="ReportServerPath" value="http://dev4-pc/ReportServer_DCIDEVDB" />   
    
    <!-- Server IP/URL -->
    <add key="serverURL" value="http://52.221.56.10/ReportServer/Pages/ReportViewer.aspx" />

    <!-- Server IP/URL -->
    <!--<add key="serverURL" value="http://DEV7-PC/ReportServer/Pages/ReportViewer.aspx" />-->

  </appSettings>

  <!--WEB CONFIG-->
  <system.net>
    <mailSettings>
      <smtp from="rafael.christianpaul@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="rafael.christianpaul@gmail.com" password="ambrosia0014" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>    
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <!--<customErrors mode="On" defaultRedirect="~/Views/Shared/Error"></customErrors>-->
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
    </compilers>
  </system.codedom>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="BCS_Context" applicationName="BCS"></errorLog>
  <security allowRemoteAccess="yes" />
  </elmah>
</configuration>


<!--<add name="BCS_Context" connectionString="Data Source=DEV3-PC\DCIDEVSQL;Initial Catalog=BCS;User=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />-->