<!--
// Author: E.A.Cabatan
// Date Created: 5/18/16
// Date Modified:
// Consultant: DCI
-->

@{
    ViewBag.Title = "ViewAssessment";
}

<div id="contentDataEntryAssessment" class="container">
    <CENTER><H2 CLASS="fcWhite">ASSESSMENT</H2></CENTER>
    <div class="bgColor-White pad10">
        <table class="br2 w100per">
            <tr>
                <th>Reference No.</th>
                <th>Date</th>
                <th>Company</th>
                <th>Amount</th>
                <th></th>
                <th>Date Receive</th>
                <th>Billed</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="DETAILS" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="BILL" /></td>
            </tr>
            <tr>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="DETAILS" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="BILL" /></td>
            </tr>
            <tr>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="DETAILS" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="BILL" /></td>
            </tr>
            <tr>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="DETAILS" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="text" class="w100per h25px" /></td>
                <td><input type="button" class="w100per" value="BILL" /></td>
            </tr>
        </table>
    </div>
</div>
